<div id="home">

  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading mb-5 mt-5">Pay your bills</h1>
      <p class="lead mb-5">Just pay your bills, okay?</p>
      <p class="mb-5">
        <a href="#" class="btn btn-primary my-2" routerLink="/login">Login</a>
        <a href="#" class="btn btn-secondary my-2" routerLink="/register">Register</a>
      </p>
    </div>
  </section>

  <div class="container marketing">
    <div class="row">
      <div class="col-md-4">
        <img class="mb-3" alt="Satisfaction awaits" src="assets/satisfying.gif">
        <p class="card-text">It's satisfying</p>
      </div>
      <div class="col-lg-4">
        <img class="mg-3" alt="Unhappy Debt Collectors" src="assets/unhappy_debt_collectors.gif" >
        <p>It makes debt collectors<br> deeply unhappy</p>
      </div>
      <div class="col-md-4">
        <img class="mb-3" alt="Be an adult!" src="assets/adulting.gif">
        <p class="card-text">It's adult</p>
      </div>
    </div>
  </div>

</div>

<footer>
  <p class="float-right">
    <a href='https://www.freepik.com/free-vector/business-doodles-set_1539032.htm'>Icons Designed by Freepik</a>
  </p>
  <p>&copy; Copyright Bills, Inc.</p>
</footer>